@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Should be edited according to the final colors in the styles */
	--primary-color: 0, 0, 0;
	--econdary-color: 214, 219, 220;
	--details-color: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Should be edited according to the final colors in the styles */
		--primary-color: 0, 0, 0;
		--econdary-color: 214, 219, 220;
		--details-color: 255, 255, 255;
	}
}